<p>product works!</p>
La quantite des produits egale a 0 est :{{alert}}
<input type="text" [(ngModel)] ="priceMax" >
<table class="table" > 
<tr>
<th> id </th>
<th> title </th>
<th> price </th>
<th> quantity </th>
<th> like </th>
<th> Actions </th>
<th> Buy </th>

</tr>

<tr *ngFor="let p of listProduct; let i = index">    

<ng-container *ngIf="p.price<=priceMax || priceMax==null"> 
    <td> {{p.id}} </td>
    <td> {{p.title}} </td>
    <td> {{p.price}} </td>
    <td> {{p.quantity}} </td>
    <td> {{p.like}} </td>
    <td> <button (click)="increment(i)" class="btn btn-primary ">like</button> </td>
    <td> <button [disabled]="p.quantity==0" (click)="buy(i)" class="btn btn-primary ">Buy</button> </td>
   <!--- <td> <button (click)="increment2(p)" class="btn btn-primary ">like</button> </td>-->
<td> <button [routerLink]="['/detail',p.id]">detail</button></td>
<td> <button  class="btn btn-danger" (click)="delete(i)">Delete</button> </td>

</ng-container>




</tr>

</table>
